<style type="text/css">
    .hutson-promo {
        padding: 20px 0;
    }
    
    .hutson-promo:not(:last-of-type) {
        border-bottom: 1px solid #d7d7d7;
    }

    .hutson-promo-image {
        display: inline-block;
        width: 25%;
        margin-right: 5%;
        vertical-align: top;
    }

    .hutson-promo-image-wrapper {
        background-color: #fafafa;
        display: block;
        height: 0px;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        width: auto;
    }

    .hutson-promo-image img {
        object-fit: contain;
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto !important;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        height: auto;
        position: absolute;
    }

    .hutson-promo-copy  {
        display: inline-block;
        width: 69%;
        vertical-align: top;
    }

    .hutson-promo-title {
        margin: 0;
        padding: 0 0 5px;
    }

    .hutson-promo-description {
        margin: 0;
        padding: 5px 0 0;
    }

    .hutson-promo-description a {
        color: #377539;
        text-decoration: underline;
    }

    .hutson-promo-end-date {
        display: block;
        font-size: 0.8em;
        font-style: italic;
        margin: 0;
        padding: 10px 0 0;
    }

    @media (max-width: 800px) {
        .hutson-promo-image {
            display: block;
            width: 100%;
        }
        .hutson-promo-copy {
            display: block;
            width: 100%;
        }
    }
</style>